.iconBtn {
  width: 75px;
  margin: 8px;
  padding: 8px;
  background: none;
  border: none;
}

.iconBtn:hover {
  background-color: lightblue;
}

.iconBtn:active {
  background-color: blue;
}

.icon {
  margin: 0 auto;
}